# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.
   Objectives:
   - List popular languages for Data Science
   - list commonly used libraries used by Data scientists
   - a table of data science Tools
   - some arithmetic expression in Python
   - examples of Python operations

Some of the popular languages that Data Scientists use are:
  - python
  - R
  - java
  - julia
  - C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. tensorflow

|Data Science Tools|
|:----------------:|
|apache spark      |
|tensor flow       |
|hadoop            |

### Below are a few examples of evaluating arithmetic expressions in Python
- add : +
- subtract : -
- multiply : *
- power : **
- modulo : %

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
El Houssaine El Jihad